<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipes</title>
</head>

<body>
  <h1>Recipes</h1>
  <ul>
    <li>
      <a href='/recipes'>List</a>
    </li>
    <li>
      <a href='/recipes/new'>New Recipe</a>
    </li>
  </ul>
  {{{body}}} {{!-- {{content; a címsorban meghívott route-hoz tartozó handlebar-fájl tartalmát rendereli be.}} --}}
  <p>Copyright 2018, Flow Academy &copy;</p>
</body>

</html>