<link rel="stylesheet" type="text/css" href="/css/edit.css" />
<h2 style="color:#212529ec">
  <strong>Edit Recipe</strong>
</h2>
<form method="POST" action="/recipes/{{indRecipe.id}}?_method=PUT">
  <div class="field-container">
    <div class="grouped">
      <div class="labelnames">
        <label>Recipename:</label>
        <label>Description:</label>
      </div>
      <div class="textfields">
        <input type="text" name="recipename" value="{{indRecipe.recipename}}"/>
        <textarea name="description" placeholder="Enter a Description Here"></textarea>
      </div>
    </div>
    <div class="button">
      <input type="submit" value="Edit" />
    </div>
  </div>
</form>