<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <title>My Recipes</title>
</head>

<body>
  <h2 style="color:#212529ec"><strong>Your List</strong><h2>
      <table class="darkTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Recipename</th>
          </tr>
        </thead>
        <tbody>
          {{#each recipesDatabase}}
          <tr>
            <td>{{id}}</td>
            <td>
              <a href='/recipes/{{id}}'>{{recipename}}</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
</body>

</html>