<link rel="stylesheet" type="text/css" href="/css/new.css" />
<h2 style="color:#212529ec">
  <strong>New Recipe</strong>
</h2>
<form method="POST" action="/recipes">
  <div class="field-container">
    <div class="grouped">
      <div class="labelnames">
        <label>Recipename:</label>
        <label>Description:</label>
      </div>
      <div class="textfields">
        <input type="text" name="recipename" placeholder="Enter the Recipename Here" />
        <textarea name="description" placeholder="Enter a Description Here"></textarea>
      </div>
    </div>
    <div class="button">
      <input type="submit" value="Create" />
    </div>
  </div>
</form>